@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  /* background-color: #F1FAEE; */
  background: #F1FAEE;
  background: -moz-linear-gradient(top, #F1FAEE 0%, #A8DADC 100%);
  background: -webkit-linear-gradient(top, #F1FAEE 0%, #A8DADC 100%);
  background: linear-gradient(to bottom, #F1FAEE 0%, #A8DADC 100%);
  color: #457B9D;
  font-family: 'Lobster', cursive;
}

p {
  color: #457B9D;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: #1D3557;
}

#header-card {
  color:#1D3557;
}

@media (min-width: 961px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.home-card {
  text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 24px 5px rgba(69,123,157,0.43);
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 1%;
}

.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.spot {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: -15px;
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #457B9D;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: #457B9D;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

#text a:hover {
  color: #1D3557;
  transition: 1s all ease;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
  color: #E63946;
  font-size: 2em;
}