/* ------------
      INIT 
---------------*/

:root {
  font-family: 'Heebo', sans-serif;
  --unbleach-silk: #F6CFBE;
  --linen-pale: #FCEBE3;
  --uranian-blue: #B9DCF2;
  --aero-blue: #6AB6E6;
  --carolina-blue: #3C92C7;
}

html,body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(18, 76%, 85%, 1);
  background: linear-gradient(60deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  background: -moz-linear-gradient(60deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  background: -webkit-linear-gradient(60deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6CFBE", endColorstr="#B9DCF2", GradientType=1 );
}

h1, h2, h3, p {
  margin-top: 0;
}

/* ------------
      LAYOUT 
---------------*/
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin: 0 auto;
  text-align: center;
  
}

h1 {
  font-size: 10vw;
  font-weight: 200;
  color: var(--carolina-blue);
  margin-bottom: 0.1em;
}

h2 {
  font-size: 1em;
  font-weight: 100;
}

p {
  font-size: 3vw;
  margin: 1em 0;
  color: var(--carolina-blue);
}

.card {
  width: 50vw;
  max-width: 600px;
  text-align: center;
  margin: 3em auto;
  padding: 1em 0;
  border-radius: 50px;
  background: #fcebe35b;
  box-shadow:  20px 20px 60px #d6c8c18e,
             -20px -20px 60px #ffffff7c;
  transition-duration: 0.5s;
}

.card:hover {
  transition-duration: 0.5s;
  box-shadow:  20px 20px 60px #d6c8c1bb,
             -20px -20px 60px #ffffffbd;
}

.list-inline {
  display: flex;
  justify-content: space-around;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  font-size: 2rem;
  color: var(--carolina-blue);
}

a:hover,
a:focus {
  transition-duration: 0.5s;
  color: var(--aero-blue);
  cursor: pointer;
}