/* ------------
      INIT 
---------------*/

:root {
  font-family: "Heebo", sans-serif;
  --white: #faf9f9;
  --light-grey: #cfcfcf;
  --aero-blue: #2274a5;
  --black: #0c1618;
}

* {
  outline: 0;
}

html,
body {
  margin: 0;
  width: 100vw;
  background: var(--white);
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  text-align: center;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  color: var(--black);
  text-align: center;
}

h2 {
  font-size: 3em;
  color: var(--black);
  font-weight: 100;
  margin: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 3rem;
  font-weight: 200;
  color: var(--black);
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: left;
}

p {
  font-size: 1em;
  margin: 1em 0;
  color: var(--black);
  letter-spacing: 1px;
}

.go-to-site {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.go-to-site:hover,
.go-to-site:focus {
  color: var(--aero-blue);
}

button:active,
button:focus {
  text-decoration: none;
  outline: 0;
}

.container {
  padding: 0 0.75em;
}

video {
  autoplay: true;
  loop: true;
}

/* ------------
      LOADER 
---------------*/

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.intro-portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.title-loading {
  letter-spacing: 0.3rem;
}

@media (max-width: 600px) {
  .title-loading {
    font-size: 2rem;
    letter-spacing: 0;
  }
}

.btn-enter {
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 2em;
  padding: 1em 2em;
  color: var(--black);
  letter-spacing: 0.5em;
  transition-duration: 0.2s;
}

.btn:hover,
.btn:focus {
  transition-duration: 0.2s;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
}

.btn:active {
  background-color: var(--white);
  color: var(--black);
}

.container-loader {
  width: 80vw;
  max-width: 500px;
  height: 80vw;
  max-height: 500px;
  border: 1px solid var(--black);
  border-radius: 100%;
  background: var(--white);
  position: absolute;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .btn-enter {
    font-size: 0.75rem;
  }

  .intro-portfolio p {
    font-size: 0.75rem;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

/* ------------
      LAYOUT 
---------------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: justify;
}

header {
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
}

.section {
  margin-top: 1em;
}

.fa-arrow-circle-up {
  position: fixed;
  top: 90vh;
  left: 80vw;
  color: var(--black);
  opacity: 0.3;
  font-size: 3em;
}

@media (max-width: 600px) {
  .fa-arrow-circle-up {
    font-size: 2em;
    left: 88vw;
  }
}

img {
  width: 80%;
  margin-bottom: 0.75em;
}

video {
  width: 100%;
}

.card {
  width: 80vw;
  max-width: 600px;
  text-align: center;
  padding: 2em 2em;
  margin: 2em 0;
  border-radius: 50px;
  background: #cfcfcf5b;
  transition-duration: 0.5s;
  box-sizing: border-box;
}

.fab {
  font-size: 2em;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--black);
}

a:hover,
a:focus {
  transition-duration: 0.5s;
  color: var(--aero-blue);
  cursor: pointer;
}

/* ------------
      HEADER 
---------------*/

.personal-name {
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.75rem;
}

.photo-profil {
  width: 20%;
  border-radius: 50%;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.btn-header {
  padding: 0.75rem 2.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 1rem 0;
  text-decoration: none;
  transition-duration: 0.3s;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 2rem;
}

.btn-active {
  color: var(--white);
  background-color: var(--black);
}

.display-infos {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.display-infos-active {
  display: block;
}

.contacts-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-header:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
}

.btn-header:active {
  background-color: var(--black);
}

.network {
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin-top: 1em;
}

.my-work-title {
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .buttons-group {
    flex-direction: column;
    align-items: center;
  }

  .btn-header {
    padding: 0.75rem 2.5rem;
  }

  .section-infos {
    padding: 0 2em;
  }
}

/* ------------
      SNAKE 
---------------*/

.snake-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

/* ------------
      MOVIE 
---------------*/

.react-movie-link {
  text-decoration: none;
}

/* ------------
      MORPION 
---------------*/
.react-tuto-morpion {
  font-size: 1em;
  font-weight: 700;
}

.morpion-link {
  font-size: 1em;
}

/* ------------
  TASK MANAGER 
---------------*/

.traversy {
  font-size: 1em;
}
